<div class="container-wrapper">

	<div class="main-wrapper scrollspy-container" style="background-color: white">

		<!-- start Breadcrumb -->

		<div class="breadcrumb-wrapper">
			<div class="container">
				<ol class="breadcrumb">
					<li><a routerLink="/homepage">Home</a></li>
					<li class="active">Reset Password</li>
				</ol>
			</div>
		</div>

		<!-- end Breadcrumb -->

		<div class="pt-50">

			<div class="container">

				<div class="row mb-10">

					<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

						<div class="section-title">

							<h2>Reset Password</h2>

						</div>

						<div class="row">

							<div class="col-xs-12 col-sm-7 col-md-6 col-md-offset-3 mb-30-xs">

								<div class="clear"></div>

								<div *ngIf="resetFailureWarning" class="alert alert-danger alert-dismissable">
									<a class="close" (click)="hideResetFailureWarning()" aria-label="close">&times;</a>
									<p>{{resetFailure}}</p>
								</div>

								<div *ngIf="passwordWarning" class="alert alert-danger alert-dismissable">
									<a class="close" (click)="hidePasswordWarning()" aria-label="close">&times;</a> Please enter a password
								</div>

								<div class="form-group">
									<label>New Password</label>
									<input type="password" class="form-control" placeholder="your new password" [(ngModel)]="password" name="password" required>
								</div>


								<div class="clear"></div>

								<br>


								<div *ngIf="confirmPasswordWarning" class="alert alert-danger alert-dismissable">
									<a class="close" (click)="hideConfirmPasswordWarning()" aria-label="close">&times;</a> Please confirm your password
								</div>

								<div class="form-group">
									<label>Confirm Password</label>
									<input type="password" class="form-control" placeholder="confirm your new password" [(ngModel)]="confirmPassword" name="confirmPassword"
									    required>
								</div>


								<div class="clear mb-10"></div>

								<br>
								<br>

								<a class="btn btn-primary" (click)="onResetPassword()">Save</a>
								<a routerLink="/homepage" class="btn btn-primary btn-border">Cancel</a>
								<br>
								<br>
								<br>

								<br>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>